In [10]:
from ttg import *

In [11]:
Truths(['p','q'], ['p => ~ (p or q) and 1']).as_pandas()

   p  q  p => ~ (p or q) and 1
1  1  1                      0
2  1  0                      0
3  0  1                      1
4  0  0                      1

In [12]:
def binary_strings(n):
    if n == 0:
        return ['']
    else:
        strings = binary_strings(n-1)
        return [s+'0' for s in strings] + [s+'1' for s in strings]

In [15]:
len(binary_strings(8))

256

In [16]:
def binary_strs(n):
    if n==1:
        return [[1],[0]]              #sua 0 1   tang dan                          
    A = []
    for a in binary_strs(n-1):
        A.append([1] + a)              # 0
    for a in binary_strs(n-1):         
        A.append([0] + a)              # 1
    return A

In [18]:
binary_strs(3)

[[1, 1, 1],
 [1, 1, 0],
 [1, 0, 1],
 [1, 0, 0],
 [0, 1, 1],
 [0, 1, 0],
 [0, 0, 1],
 [0, 0, 0]]

In [20]:
from sympy import *

In [24]:
for p, q in binary_strs(2):
    P = Implies(p, ~(q | p) & 1)
    print(P)

False
False
True
True

In [ ]:
Truths(['p','q'], ['p => ~ (p or q) and 1']).as_pandas()